Source: python-dynamic-graph
Section: python
X-Python-Version: 2.6,2.7
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 8.0.0),
	       cmake (>=2.6),
	       doxygen (>=1.6.3),
	       pkg-config (>=0.22),
	       python (<<2.8),
	       python (>=2.7),
	       python-sphinx (>=1.1),
	       libdynamic-graph-dev (>=3.0.0),
       	       libboost-dev (>=1.46),
	       libboost-filesystem-dev (>=1.46),
	       libboost-python-dev (>=1.46),
      	       libboost-system-dev (>=1.46),
      	       libboost-test-dev (>=1.46),
      	       libboost-thread-dev (>=1.46),
      	       libboost-program-options-dev (>=1.46),
	       libeigen3-dev (>=3.0.5)
Standards-Version: 3.9.7
Homepage: http://stack-of-tasks.github.io/
Vcs-Git: git://github.com/proyan/dynamic-graph-python.git

Package: python-dynamic-graph-dev
Architecture: any
Suggests: python-dynamic-graph-doc
Depends: libdynamic-graph-python3.0.0 (= ${binary:Version}),
	 ${misc:Depends}
Description: Python bindings for dynamic-graph library - Development Files
 The dynamic graph library allows the representation of data-flow in C++.
 It provides fast graph evaluation and a simple script language to manipulate
 the graph actions.
 .
 This package contains dynamic-graph development files.


Package: python-dynamic-graph
Architecture: any
Suggests: python-dynamic-graph-doc
Provides: ${python:Provides}
Depends: libdynamic-graph-python3.0.0 (= ${binary:Version}), ${shlibs:Depends}, ${python:Depends}, ${misc:Depends}
Description: Python bindings for dynamic-graph library
 The dynamic graph library allows the representation of data-flow in C++.
 It provides fast graph evaluation and a simple script language to manipulate
 the graph actions.
 .
 This package contains modules that allow you to use dynamic-graph from Python.

Package: libdynamic-graph-python3.0.0
Architecture: any
Suggests: python-dynamic-graph-doc
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Python bindings for dynamic-graph library (Binary and shared libraries)
 The dynamic graph library allows the representation of data-flow in C++.
 It provides fast graph evaluation and a simple script language to manipulate
 the graph actions.
 .
 This package contains binaries and shared libraries.

Package: python-dynamic-graph-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: Python bindings for dynamic-graph library (common documentation)
 The dynamic graph library allows the representation of data-flow in C++.
 It provides fast graph evaluation and a simple script language to manipulate
 the graph actions.
 .
 This is the common documentation package